{% extends 'base.html' %}
{% block title %}Delete Tag{% endblock %}

{% block content %}
<div class="delete-confirmation-container card">
    <div class="card-content">
        <span class="card-title">Delete Tag</span>
        <h4>Are you sure you want to delete the tag "{{ object.name }}"?</h4>
        <p>This action cannot be undone. It will be removed from all associated books.</p>

        <form method="POST">
            {% csrf_token %}
            <button type="submit" class="btn waves-effect waves-light red">Yes, Delete Tag</button>
            <a href="{% url 'tags_detail' object.id %}" class="btn waves-effect waves-light grey">Cancel</a>
        </form>
    </div>
</div>
{% endblock %}