{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>myLibrary - {% block title %}Welcome{% endblock %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<body>
    <header class="navbar-fixed">
        <nav>
            <div class="nav-wrapper teal darken-1"> {# Changed color palette example #}
                <ul>
                    <li><a href="{% url 'home' %}" class="left brand-logo">  myLibrary</a></li>
                </ul>
                <ul class="right">
                    <li><a href="{% url 'about' %}">About</a></li>
                    {% if user.is_authenticated %}
                        <li><a href="{% url 'tags_index' %}">View All Tags</a></li>
                        <li><a href="{% url 'tags_create' %}">Add a Tag</a></li>
                        <li><a href="{% url 'books_index' %}">My Books</a></li>
                        <li><a href="{% url 'books_create' %}">Add a Book</a></li>
                        <li><a href="{% url 'logout' %}">Log Out ({{ user.username }})</a></li>
                    {% else %}
                        <li><a href="{% url 'login' %}">Log In</a></li>
                        <li><a href="{% url 'signup' %}">Sign Up</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </header>
    <main class="container">
        {% block content %}
        {% endblock %}
    </main>
    <footer class="page-footer teal darken-1"> {# Changed color palette example #}
        <div class="right">All Rights Reserved, © 2023 myLibrary </div>
    </footer>
</body>
</html>

